@font-face{
  src: url(fonts/Cremona.ttf);
  font-family: voga;

}
font-face{
  src: url(fonts/Average-Regular.ttf);
  font-family: average;

}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}


/*@font-face{
  src: url(fonts/BADABB__.ttf);
  font-family: bada;
}*/
html{
  font-family:voga;
  font-size: 15px;
  letter-spacing: 4px;
  background-color:#eebf90;

}

img{
  width: 100%;

}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: #eebf90;
  padding: 0 1.5rem;

}

header{
	padding:15px 60px;
}

.title{
	position:absolute;
	
	top:1%;
	left: 1%;
	width:50%;
	color:black;
	font-family: voga;
	font-size: 30px;
	color:white;
	
	
}

.drop-menu{
	display: none;
}

.arrow right{
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}


.menu{
	
	width:42%;
	float: right;
	list-style:none;
	position:absolute;
	top:2%;
	left: 55%;
	color:transparent;
	border-box:white;
	
}

.menu li{
	width:110px;
	height:50px;
	line-height:50px;
	text-align: center;
	color:white;
	font-size: 13px;
	float: right;
	display:inline-block;
	border:1px solid white;
	margin-right:10px;

	}

.menu li:hover{
	background:#ebb47c;
	border-radius:0.8rem;
	border:1px solid #ebb47c;
}

.menu li:hover a{
	color: white;
}
	



.menu li a{
	text-decoration: none;
	font-family:voga;
	color:white;
	font-size:20px;
	
}






.blog-post{
	position:absolute;
	top:5%;
	left:-5%;
	transform:translate(0,2rem);
    
}

.blog-post h1{
	position:relative;
	top:8%;
	left:14%;
	font-size:35px;
	margin-top:30px;
	color:black;
	
}

.blog-post img{
	width:80%;
	height:auto;
	position:relative;
	top:18%;
	left:14%;
	max-width:100%;
	margin-top:10px;
	
}

.blog-post p{
	font-family:average;
	width:80%;
	height:auto;
	position:relative;
	top:80%;
	left:14%;
	margin-top:20px;
	letter-spacing:normal;
	word-spacing:4.3px;
	color:black;
	font-weight:800px;
}
@media (max-width:1029px){
	.blog-post{
		position:absolute;
		top:7%;
	}
}


@media (max-width:857px){
	.og-menu{display:none;}
	.drop-menu {
		display: inline-block;
		width:50px;
		height:80%;
		text-decoration:none;
		font-size: 17px;
		padding: 10px 35px;
		color:white;
		margin-top:3%;
		font-family:voga;
		position:absolute;
		top:-2%;
		left:83%;
	}
	.mButton{
		text-decoration:none;
		border: 1px solid #fff;
		font-size: 17px;
		background-color:transparent;
		padding: 10px 35px;
		color:#fff;
		display: inline-block;
		margin-top:%;
		font-family:poppins;
		left:90%;
		top:1%;
	}
	.dmenu{
		list-style:none;
		text-align:left;
		width:100%;
		margin:0;
		padding:0;
		
		position:absolute;
		top:-.5%;
		left:15%;
		
	}
	
	.dmenu li{
		text-decoration:none;
	border: 1px solid white;
	width:150px;
	margin-bottom:3px;
	font-size: 17px;
	padding: 18px 20px;
	color:white;
	display: inline-block;
	margin-top:8px;
	font-family:voga;
	text-align:center;

		
	}
	.dmenu li a{
	text-decoration: none;
	font-family:voga;
	color:white;
	text-align:left;
	}
	.dmenu li:hover{
		border-color:#ebb47c;
		background:#ebb47c;
		color:#262626;
		border-radius:0.8px;
	}
	
	
	
	
	

}
@media (max-width:857px){
	.title{
		line-height:80px;
		font-weight:1000px;
		width:1px;
		position:absolute;
		top:-.6%;
	}
}





/*@media (max-height:743px){
	.blog-post{
		position:absolute;
		top:8%;
	}
}
@media (max-height:625px){
	.blog-post{
		position:fixed;
		top:10%;
	}
}
@media (max-height:515px){
	.blog-post{
		position:fixed;
		top:12%;
	}
}
@media (max-height:431px){
	.blog-post{
		position:fixed;
		top:14%;
	}
}
@media (max-height:381px){
	.blog-post{
		position:fixed;
		top:16%;
	}
}
@media (max-height:294px){
	.blog-post{
		position:fixed;
		top:18%;
	}
}*/




@media (max-width:862px){
	.dmenu{
		position:absolute;
		left:-20%;
	}
}
@media (max-width:712px){
	.dmenu{
		position:absolute;
		left:-26%;
		transform:translate(0,.36rem);
	}
	.blog-post{
		position:absolute;
		top:14%;
	}
}
@media (max-width:633px){
	.dmenu{
		position:absolute;
		left:-34%;
	}
}
@media (max-width:612px){
	.dmenu{
		position:absolute;
		left:-42%;
	}
}
@media (max-width:589px){
	.dmenu{
		position:absolute;
		left:-62%;
		transform:translate(0,.7rem);
	}
	.blog-post{
		position:absolute;
		top:22%;
	}
}
@media (max-width:493px){
	.dmenu{
		position:absolute;
		left:-70%;
	}
}
@media (max-width:468px){
	.title{
		font-size:27px;
	}
	.dmenu{
		position:absolute;
		left:-70%;
	}
}
@media (max-width:442px){
	.dmenu{
		position:absolute;
		left:-78%;
	}
}
@media (max-width:403px){
	.title{
		font-size:25px;
		position:absolute;
		top:-1%;
	}
	.dmenu{
		position:absolute;
		left:-60%;
		transform:translate(0,1rem);
	}
	.dmenu li{
		width:128px;
		font-size:15px;
		text-align:center;
		padding-left:14px;
	}
}

@media (max-width:378px){
	.dmenu{
		position:absolute;
		left:-68%;
	}
}
@media (max-width:367px){
	.title{
		font-size:21px;
		font-weight:bolder;
		width:30px;
		line-height:57px;
		position:absolute;
		top:.6%;
		left:3%;
	}
	.dmenu{
		position:absolute;
		left:-68%;
	}
}
@media (max-width:364px){
	
	.blog-post{
		position:absolute;
		left:-8%;
	}
}
@media (max-width:350px){
	.title{
		
	}
	.dmenu{
		position:absolute;
		left:-55%;
	}
	.dmenu li{
		font-size:12px;
		width:110px;
	
		
	}
	
	.blog-post{
		position:absolute;
		left:-10%;
	}
	.blog-post h1{
		font-size:32px;
	}
}




















@media  (max-width:862px),(max-height:780px){
	.blog-post{
		position:absolute;
		top:16%;
	}
	
}
@media  (max-width:862px),(max-height:587px){
	.blog-post{
		position:absolute;
		top:22%;
	}
	
}
@media  (max-width:862px),(max-height:480px){
	.blog-post{
		position:absolute;
		top:29%;
	}
	
}
@media  (max-width:862px),(max-height:368px){
	.blog-post{
		position:absolute;
		top:36%;
	}
	
}
@media  (max-width:862px),(max-height:306px){
	.blog-post{
		position:absolute;
		top:43%;
	}
	
}
@media  (max-width:862px),(max-height:225px){
	.blog-post{
		position:absolute;
		top:48%;
	}
	
}





@media (max-width:712px),(max-height:751px){
	.blog-post{
		position:absolute;
		top:17%;
	}
}
@media (max-width:712px),(max-height:631px){
	.blog-post{
		position:absolute;
		top:20%;
	}
}
@media (max-width:712px),(max-height:529px){
	.blog-post{
		position:absolute;
		top:23%;
	}
}
@media (max-width:712px),(max-height:465px){
	.blog-post{
		position:absolute;
		top:28%;
	}
}
@media (max-width:712px),(max-height:392px){
	.blog-post{
		position:absolute;
		top:33%;
	}
}

@media (max-width:712px),(max-height:344px){
	.blog-post{
		position:absolute;
		top:40%;
	}
}
@media (max-width:712px),(max-height:279px){
	.blog-post{
		position:absolute;
		top:45%;
	}
}








@media (max-width:633px),(max-height:1100px){
	.blog-post{
		position:absolute;
		top:13%;
	}
}
@media (max-width:633px),(max-height:832px){
	.blog-post{
		position:absolute;
		top:17%;
	}
}
@media (max-width:633px),(max-height:644px){
	.blog-post{
		position:absolute;
		top:21%;
	}
}
@media (max-width:633px),(max-height:504px){
	.blog-post{
		position:absolute;
		top:25%;
	}
}
@media (max-width:633px),(max-height:412px){
	.blog-post{
		position:absolute;
		top:31%;
	}
}










@media (max-width:612px),(max-height:1200px){
	.blog-post{
		position:absolute;
		top:13%;
	}
}
@media (max-width:612px),(max-height:820px){
	.blog-post{
		position:absolute;
		top:16%;
	}
}
@media (max-width:612px),(max-height:664px){
	.blog-post{
		position:absolute;
		top:20%;
	}
}
@media (max-width:612px),(max-height:534px){
	.blog-post{
		position:absolute;
		top:25%;
	}
}
@media (max-width:612px),(max-height:436px){
	.blog-post{
		position:absolute;
		top:30%;
	}
}












@media (max-width:589px),(max-height:1200px){
	.blog-post{
		position:absolute;
		top:12%;
	}
}
@media (max-width:589px),(max-height:882px){
	.blog-post{
		position:absolute;
		top:16%;
	}
}
@media (max-width:589px),(max-height:682px){
	.blog-post{
		position:absolute;
		top:20%;
	}
}
@media (max-width:589px),(max-height:535px){
	.blog-post{
		position:absolute;
		top:28%;
	}
}
@media (max-width:589px),(max-height:404px){
	.blog-post{
		position:absolute;
		top:34%;
	}
}

















@media (max-width:493px),(max-height:1200px){
	.blog-post{
		position:absolute;
		top:16%;
	}
}
@media (max-width:493px),(max-height:1022px){
	.blog-post{
		position:absolute;
		top:19%;
	}
}
@media (max-width:493px),(max-height:875px){
	.blog-post{
		position:absolute;
		top:23%;
	}
}
@media (max-width:493px),(max-height:700px){
	.blog-post{
		position:absolute;
		top:26%;
	}
}
@media (max-width:493px),(max-height:622px){
	.blog-post{
		position:absolute;
		top:31%;
	}
}
@media (max-width:493px),(max-height:540px){
	.blog-post{
		position:absolute;
		top:35%;
	}
}
@media (max-width:493px),(max-height:467px){
	.blog-post{
		position:absolute;
		top:40%;
	}
}
@media (max-width:493px),(max-height:416px){
	.blog-post{
		position:absolute;
		top:47%;
	}
}
@media (max-width:493px),(max-height:358px){
	.blog-post{
		position:absolute;
		top:53%;
	}
}












@media (max-width:468px), (max-height:1200px){
	.blog-post{
		position:absolute;
		top:16%;
	}
}
@media (max-width:468px), (max-height:1004px){
	.blog-post{
		position:absolute;
		top:19%;
	}

@media (max-width:468px), (max-height:864px){
	.blog-post{
		position:absolute;
		top:22%;
	}
}
@media (max-width:468px), (max-height:770px){
	.blog-post{
		position:absolute;
		top:26%;
	}
}
@media (max-width:468px), (max-height:658px){
	.blog-post{
		position:absolute;
		top:29%;
	}
}
@media (max-width:468px), (max-height:568px){
	.blog-post{
		position:absolute;
		top:33%;
	}
}
@media (max-width:468px), (max-height:494px){
	.blog-post{
		position:absolute;
		top:36%;
	}
}






@media (max-width:442px),(max-height:1200px){
	.blog-post{
		position:absolute;
		top:15%;
	}
}
@media (max-width:442px),(max-height:1090px){
	.blog-post{
		position:absolute;
		top:18%;
	}
}
@media (max-width:442px),(max-height:918px){
	.blog-post{
		position:absolute;
		top:22%;
	}
}
@media (max-width:442px),(max-height:768px){
	.blog-post{
		position:absolute;
		top:26%;
	}
}
@media (max-width:442px),(max-height:656px){
	.blog-post{
		position:absolute;
		top:29%;
	}
}
@media (max-width:442px),(max-height:580px){
	.blog-post{
		position:absolute;
		top:33%;
	}
}






@media (max-width:403px),(max-height:1200px){
	.blog-post{
		position:absolute;
		top:14%;
	}
}
@media (max-width:403px),(max-height:1087px){
	.blog-post{
		position:absolute;
		top:17%;
	}
}
@media (max-width:403px),(max-height:920px){
	.blog-post{
		position:absolute;
		top:20%;
	}

@media (max-width:403px),(max-height:796px){
	.blog-post{
		position:absolute;
		top:23%;
	}
}
@media (max-width:403px),(max-height:705px){
	.blog-post{
		position:absolute;
		top:26%;
	}
}
@media (max-width:403px),(max-height:620px){
	.blog-post{
		position:absolute;
		top:29%;
	}
}
@media (max-width:403px),(max-height:554px){
	.blog-post{
		position:absolute;
		top:32%;
	}
}









@media (max-width:378px),(max-height:1050px){
	.blog-post{
		position:absolute;
		top:16%;
	}
}

@media (max-width:378px),(max-height:912px){
	.blog-post{
		position:absolute;
		top:19%;
	}
}
@media (max-width:378px),(max-height:784px){
	.blog-post{
		position:absolute;
		top:18%;
	}
}
@media (max-width:378px),(max-height:664px){
	.blog-post{
		position:absolute;
		top:25%;
	}
}
@media (max-width:378px),(max-height:604px){
	.blog-post{
		position:absolute;
		top:26%;
	}
}
@media (max-width:378px),(max-height:493px){
	.blog-post{
		position:absolute;
		top:33%;
	}
}
@media (max-width:378px),(max-height:439px){
	.blog-post{
		position:absolute;
		top:40%;
	}
}
@media (max-width:378px),(max-height:390px){
	.blog-post{
		position:absolute;
		top:45%;
	}
}
/*GOOD*/






@media (max-width:367px),(max-height:1050px){
	.blog-post{
		position:absolute;
		top:17%;
		left:-8%;
	}
}
@media (max-width:367px),(max-height:870px){
	.blog-post{
		position:absolute;
		top:21%;
		left:-8%;
	}
}
@media (max-width:367px),(max-height:730px){
	.blog-post{
		position:absolute;
		top:25%;
		left:-8%;
	}
}
@media (max-width:367px),(max-height:587px){
	.blog-post{
		position:absolute;
		top:29%;
		left:-8%;
	}
}
@media (max-width:367px),(max-height:1050px){
	.blog-post{
		position:absolute;
		top:34%;
		left:-8%;
	}
}













@media (max-width:350px),(max-height:1050px){
	.blog-post{
		position:absolute;
		top:16%;
	}	
	
}
@media (max-width:350px),(max-height:870px){
	.blog-post{
		position:absolute;
		top:20%;
	}
	
}
@media (max-width:350px),(max-height:701px){
	.blog-post{
		position:absolute;
		top:24%;
	}
	
}
@media (max-width:350px),(max-height:585px){
	.blog-post{
		position:absolute;
		top:30%;
	}
	
}
@media (max-width:350px),(max-height:490px){
	.blog-post{
		position:absolute;
		top:35%;
	}
	
}


@media (max-width: 375px),(max-height: 731px)  { 
	.title{
		font-size:23px;
		line-height:72px;
	}
	.dmenu{
		transform:translate(-.5rem,1.3rem);
	}
	.dmenu li{
		width:140px;
		padding-left:15px;
	}
}
	

 


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.blog-post{
		position:absolute;
		top:28%;
	}
	.title{
		font-size:17px;
		line-height:68px;
	}
	.dmenu{
		position:absolute;
		top:-4%;
		left:-95%;
	}
	.dmenu li{
		width:120px;
	}
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
	.title{
		font-size:20.5px;
		line-height:72px;
	}
	.dmenu{
		transform:translate(-1rem,1.3rem);
	}
	.dmenu li{
		width:140px;
	}
}


@media (min-width:414px),(min-height:736px){
	
	.blog-post{
		position:absolute;
		top:40%;
	}
	.dmenu li{
		width:140px;
		padding-left:15px;
		transform:translate(.6rem,-.6rem);
	}
}






@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
	.dmenu{
		position:absolute;
		left:-102%;
		top:-1.4%;
	}
	.title{
		font-size:23px;
		line-height:74px;
	}
	.blog-post{
		position:absolute;
		top:22%;
	}
}




@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) {
	.blog-post{
		position:absolute;
		top:20%;
	}
	.dmenu{
		position:absolute;
		top:-1%;
		left:-110%;
	}
	.title{
		font-size:26px;
		line-height:74.5px;
	}
	
	}




	
	
	
	
	
	
	
	
	
	








/*@media (max-width:800px){
	.drop-menu {
		left:77%;
		top:1%;
		position:absolute;
	}
}

@media (max-width:670px){
	.drop-menu {
		left:75%;
		top:1%;
		position:absolute;
	}
}

@media (max-width:620px){
	.drop-menu {
		left:73%;
		top:1%;
		position:absolute;
	}
}
@media (max-width:590px){
	.drop-menu {
		left:71%;
		top:1%;
		position:absolute;
	}
}
@media (max-width:570px){
	.drop-menu {
		left:69%;
		top:1%;
		position:absolute;
	}
}

@media (max-width:420px){
	.title{
		position:absolute;
		top:55.5%;
		
	}
}



@media (max-width:770px){
	.blog-post{
		position:absolute;
		top:42%;
	}
	
	.blog-post h1{
		transform:translate(0,-1rem);
	}
}

@media (max-width:1025px){
	.blog-post{
		transform:translate(0,-21rem);
	}
	
	.blog-post h1{
		transform:translate(0,-1rem);
	}
	
}

@media (max-width:420px){
	.title{
		transform:translate(.3rem,-27rem);
		font-size:25px;
		width:40px;
		line-height:51px;
	}
	.dmenu{
		transform:translate(-3rem,0);
		background-color:transparent;
	}
	.dmenu li{
		width:90px;
		transform:translate(3rem,0);
		padding-left:15px;
		text-align:center;

	}
	.dmenu a{
		font-size:12px;
		letter-spacing:1px;
		text-align:center;
		transform:translate(3rem,0);
		
	}
	.blog-post{
		transform:translate(0,-12rem);
	}
	
	.blog-post h1{
		transform:translate(0,-2rem);
	}
	
	.blog-post img{
		transform:translate(-1.6rem,0);
		width:80%;
		
}
}

@media (max-width:414px){
	.blog-post{
		transform:translate(0,-10rem);
	}
	
	.blog-post h1{
		transform:translate(0,-1rem);
	}
	
}

@media (max-width:411px){
	.title{
		transform:translate(0.5rem,-30rem);
	}
	.blog-post{
		transform:translate(0,-12.5rem);
	}
	
}
@media (max-height:731px){
	.title{
		transform:translate(0.5rem,-27rem);
	}
	.blog-post{
		transform:translate(0,-10rem);
	}
	
}


@media (max-height:668px){
	.title{
		position:absolute;
		top:67%;	
	}
	.blog-post{
		position:absolute;
		top:50%;
	}
	
}

@media (max-width:376px){
	.title{
		transform:translate(.5rem,-29.5rem);
	}
	.blog-post{
		transform:translate(0,-12rem);
	}
	.dmenu{
		transform:translate(-3rem,.4rem);
	}
}

	
	
	


@media (max-width:325px){
	.title{
		font-size:20px;
		transform:translate(0.5rem,-21rem);
	}
	.dmenu{
		transform:translate(-4rem,.9rem);
	}
	.dmenu li{
		margin:2px;
	}
	.blog-post{
		transform:translate(0,-5rem);
	}
	.blog-post h1{
		font-size:30px;
	}
	
	
	
}

@media (max-height:568px){
	.title{
		font-size:20px;
		transform:translate(0.5rem,-25.5rem);
	}
	.dmenu{
		transform:translate(-4rem,.9rem);
	}
	.dmenu li{
		margin:2px;
	}
	.blog-post{
		transform:translate(0,-9rem);
	}
	.blog-post h1{
		font-size:30px;
	}
	
	
	
}*/

